<h1>Enter the name of your list in the form below</h1>
<form action="/lists/new" method="post">
  <div class="form-group form-control">
  <label for="list_name">Enter the name of your list</label>
  <input  name="list_name">
</div>
<button type="submit"  class="btn" name="add list">add list</button>
</form>
